<h1>Todo</h1>
<div class="container">
    <div class="alert alert-warning" *ngIf="todoForm.invalid && todoForm.dirty">Enter valid values</div>
    <div class="alert alert-warning" *ngIf="targetDate.invalid && todoForm.dirty">Target Date is invalid</div>
    <div class="alert alert-warning" *ngIf="description.invalid && todoForm.dirty">Enter at least 5 characters for Description</div>
<form (ngSubmit)="!todoForm.invalid && saveTodo()" #todoForm="ngForm">
    <fieldset class="form-group">
        <label>Description</label>        
        <input type="text" [(ngModel)]="todo.description" class="form-control" name="description" required="required" minlength="5" #description="ngModel"/>
    </fieldset>

    <fieldset class="form-group">
        <label>Target Date</label>
        <input type="date" #targetDate="ngModel"
            [ngModel]="todo.targetDate | date:'yyyy-MM-dd' "
            (ngModelChange)="todo.targetDate = $event" 
            class="form-control" 
            name="targetDate" 
            required="required" />
    </fieldset>

    <button type="submit" class="btn btn-success">Save</button>
</form>
</div>