<h1>Login!</h1>
<div class="container">
<form>
    <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
    <fieldset class="form-group">
        <label>User Name</label>  
        <input type="text" name="username" [(ngModel)]="username" class="form-control">
    </fieldset>
    <fieldset class="form-group">
        <label>password</label>
        <input type="password" name="password" [(ngModel)]="password" class="form-control">
    </fieldset>
    <!-- <div><button (click)=handleLogin() class="btn btn-success">Login</button></div> -->
    <!-- <div><button (click)=handleBasicAuthLogin() class="btn btn-success">Login</button></div> -->
    <div><button (click)=handleJWTAuthLogin() class="btn btn-success">Login</button></div>
</form>
</div>