<h1>Welcome!</h1>
<div class="container">welcome, {{username}}!. You can manage your todos <a routerLink="/todos">here</a></div>

<!-- <div class="container">Click here to get a customized welcome message <button (click)="getWelcomeMessage()" class="btn btn-success">Submit</button></div> -->
<div class="container">Click here to get a customized welcome message <button (click)="getWelcomeMessageWithParameter()" class="btn btn-success">Submit</button></div>

<div class="container" *ngIf="welcomeMessageFromService">
    <h2>Your customized welcome message</h2>
    {{welcomeMessageFromService}}
</div>
